.nav-tabs-fixed {
	position: fixed;
	top: 0;
	z-index: 1300;
	width: 943px;
}

.nav-tabs-up {
	top: 50px;
}

.stick + .box-content {
	padding-top: 70px !important;
}

.nav-tabs .nav-link:focus, 
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active {
	border-top-color: rgb(233, 236, 239);
	border-right-color: rgb(233, 236, 239);
	border-bottom-color: rgb(229, 38, 38);
	border-left-color: rgb(233, 236, 239);
}

.nav-tabs .nav-link {
    border-bottom: 0.3rem solid transparent;
    color: rgba(0, 0, 0, 0.54);
}

.bmd-form-group input::placeholder {
	font-size: 13px;
	line-height: 20px
}

.form-control, .custom-file-control,
.is-focused .form-control,
.is-focused .custom-file-control {
  	background-image: linear-gradient(to top, rgba(229, 38, 38, 0.9) 2px, rgba(0, 150, 136, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px); 
}

.radio label input[type="radio"]:checked ~ .bmd-radio::before, 
label.radio-inline input[type="radio"]:checked ~ .bmd-radio::before {
	background-color: rgb(229, 38, 38);
}

.radio label input[type="radio"]:checked ~ .bmd-radio::after, 
label.radio-inline input[type="radio"]:checked ~ .bmd-radio::after {
	border-color: rgb(229, 38, 38);
}

.radio label .bmd-radio::before, label.radio-inline .bmd-radio::before {
	background-color: rgb(229, 38, 38);
}

.snackbar-content {
	padding: 0;
}

.snackbar-content .list-group-item :first-child {
	margin-right: 0.5rem;
}

/*place detail*/
.detail.place-detail .view .box .widget.star-rating {
    font-size: 14px;
}

.detail.place-detail .view .box .widget.star-rating .star {
    margin-bottom: 0px;
}

.detail.place-detail .view .box .rating h3 {
    line-height: 1.0;
}

.detail.place-detail .business-rating .rating {
    margin-left: 8px;
}

.detail.place-detail .box .star,
.user-post-container .star {
    font-size: 18px;
}

.detail.place-detail .list-default > li {
    font-size: 13px;
    padding: 0 7px;
    cursor: pointer;
}

.detail.place-detail .view .tab-content .titan-caption {
    margin: 215px 0;
}

.detail.place-detail .business-rating .points-label {
    margin: 10px 0 2px 0;
}

.detail.place-detail .widget-posts-image {
    width: 50px;
}

.detail.place-detail .widget-posts-body {
    margin-left: 70px;
}

.detail.place-detail .widget-posts-body small {
    position: relative;
    top: -5px;
}

.detail.place-detail .social-media-share-list .icheckbox_minimal-red {
    top: -1px;
}

.detail.place-detail .rating-md {
    font-size: 0;
}

.detail.place-detail .rating-md > .rating-stars > .rating-input {
    display: none;
}

.detail.place-detail .rating-container .filled-stars {
    -webkit-text-stroke: 0;
    text-shadow: none;
}

.detail.place-detail .review-post .rating {
    margin-top: 7px;
}

.detail.place-detail .promo-title {
   	margin-top: 0px;
   	margin-bottom: 0px;
}

.detail.place-detail .dropdown-menu.list-schedule {
   	font-size: 15px;
}

.detail.place-detail .dropdown-menu.list-schedule > li {
   	padding: 5px 0;
}

.detail.place-detail .nav-tabs .nav-link {
	padding: 15px 20px;
}

/*user profile*/
.detail.user-profile .box.user-love {
    min-height: 280px;
}

.detail.user-profile .box.user {
    min-height: 270px;
}

.detail.user-profile .widget-posts-image {
    width: 160px;
    margin-right: 20px;
}

.detail.user-profile .widget-posts-image.business-image {
    width: 50px;
    margin-right: 0px;
}

.detail.user-profile .widget-posts-image.image-order-history {
    width: 75px;
}

.detail.user-profile .img-profile-thumb {
    width: 160px;
    height: 160px;
}

.detail.user-profile .widget .widget-posts-body {
    padding-top: 10px;
}

.detail.user-profile .widget .widget-posts-body.user-profile-identity {
    padding-top: 30px;
}

.detail.user-profile .widget .business-review {
	margin-left: 60px;
    padding-top: 0px;
}

.detail.user-profile .widget .business-review small {
    position: relative;
    top: -5px;
}

.detail.user-profile .widget .widget-posts-body h3 {
    margin: 10px 0;
}

.detail.user-profile .view .view-journey.nav.nav-tabs {
    border: none;
    border-bottom: 2px solid #ddd;
    border-radius: 0px;
}

.detail.user-profile .view .view-journey.nav.nav-tabs > li {
    border: none;
    border-radius: 0px;
}

.detail.user-profile .view .view-journey.nav.nav-tabs > li > a {
    padding: 5px 15px;
    font-weight: normal;
    border: none;
    margin-right: 0px;
}

.detail.user-profile .view .view-journey.nav.nav-tabs > li.active > a,
.detail.user-profile .view .view-journey.nav.nav-tabs > li > a:focus,
.detail.user-profile .view .view-journey.nav.nav-tabs > li > a:hover {
    color: #333;
    background: none;
    border-bottom: 4px solid rgb(229, 38, 38);
}

.detail.user-profile .view .view-journey .tab-content .tab-pane {
    border: none;
}

.detail.user-profile .view .been-there .box,
.detail.user-profile .view .love-place .box,
.detail.user-profile .view .saved-search .box,
.detail.user-profile .view .new-promo .box {
    padding: 0px;
}

.detail.user-profile .view .been-there .box .short-desc,
.detail.user-profile .view .love-place .box .short-desc,
.detail.user-profile .view .saved-search .box .short-desc,
.detail.user-profile .view .new-promo .short-desc {
    padding: 10px;
}

/*review*/
.detail.review .widget-posts-image {
    width: 50px;
}

.detail.review .widget-posts-body {
    margin-left: 70px;
}

.detail.review .review-container .rating {
    margin-top: 7px;
}

.detail.review .review-container .rating .badge {
	display: inline;
    padding: .4em;
    line-height: 1.2;
    vertical-align: top;
}

/*photo*/
.detail.photo .widget-posts-image {
    width: 50px;
}

.detail.photo .widget .widget-posts-body {
    margin-left: 70px;
}

.detail.photo .photo-review img {
    max-height: 400px;
}

/*update profile*/
.detail.user-update-profile .profile-img-container {
    width: 160px;
    height: 160px;
    position: absolute;
    overflow: hidden;
}

.detail.user-update-profile .widget-posts-body {
    margin-left: 210px;
    padding-top: 12px;
}

/*general*/
.p-5 {
    padding: 5px !important;
}

.p-10 {
    padding: 10px !important;
}

.p-15 {
    padding: 15px !important;
}

.p-20 {
    padding: 20px !important;
}

.btn.btn-round-4 {
    border-radius: 4px;
}

.btn.btn-d:hover, .btn.btn-d:focus {
    background: rgb(229, 38, 38);
}

.btn.btn-d {
    background: rgba(229, 38, 38, 0.9);
    color: #fff;
}

.btn.btn-d.btn-search {
    padding: 7px 12px;
}

.btn.btn-standard {
    padding: 7px 12px;
    text-transform: none;
    letter-spacing: 0px;
    font-size: 14px;
}

.btn.btn-default.selected {
    color: #d9534f;
    border-color: #d9534f;
}

.list-inline > li > a.selected {
    color: #d9534f;
}

.btn.btn-small {
    padding: 5px 12px;
    text-transform: none;
    letter-spacing: 0px;
    font-size: 11px;
}

.btn.btn-small.btn-xs {
    padding: 4px 8px;
}

.img-comment-thumb {
    width: 45px;
    height: 45px;
}

.form-control-feedback {
    left: 0px;
    line-height: 36px !important;
}

.has-feedback .form-control {
    padding-left: 30px;
    padding-right: 12px;
}

.widget .icon-list.no-arrow-icon li a::before {
    content: "";
}

.link-icon.list-inline > li {
    padding: 0px 10px;
}

.link-icon.list-inline.tab-detail > li {
    padding: 0px 5px;
}

.link-icon.list-inline > li:not(:last-child) {

}

.bg-main {
    background: rgb(240, 240, 240);
}

.bg-white {
    background: #fff;
}

.bg-dark {
    background: #00001E;
}

.bg-dark a.text-white {
    color: #fff;
}

.font-10 {
    font-size: 10px !important;
}

.font-11 {
    font-size: 11px !important;
}

.font-12 {
    font-size: 12px !important;
}

.font-13 {
    font-size: 13px !important;
}

.font-14 {
    font-size: 14px !important;
}

.works-grid .gallery-item .work-title,
.works-grid .gallery-item .work-descr {
    color: #fff;
}

.inline-block {
    display: inline-block;
}
a.form-control {
    text-align: left;
}

a.form-control:hover {
    color: #aaa;
}

.label-gold {
    background: #ffd31b;
}

.works-grid-5 .gallery-photo-review {
    width: 80px;
}

.btn-product-category,
.btn-price,
.btn-region {
    color: #999;
    cursor: default;
}

.btn-search-toggle:focus,
.btn-search-map-toggle:focus {
    background-color: #fff;
}

.form-rating .star-rating .form-group {
    margin: 0;
}

.detail .list-review > li {
    font-size: 13px;
    cursor: pointer;
}

.titan-title-tagline {
    font-size: 39px;
    font-weight: 700;
}

.file-drop-zone-title {
    padding: 0;
}

/*general - box*/
.box, .box-place {
    position: relative;
}

.box .widget .icon-list li {
    padding: 0px;
}

/*general - detail*/
.detail .tab-content .tab-pane {
    border: none;
    padding: 10px 10px 10px 10px;
}

.detail .box {
    padding: 0;
}

.detail .box .box-title,
.detail .box .box-content,
.detail .box .box-footer {
    padding: 10px;
}

.detail .box .box-content .review-description,
.detail .box .box-content .comment-description,
.detail .box .box-content .my-review-description {
    line-height: 1.4;
    margin: 0px 0px 5px;
}

.detail .box .widget .icon-list li.icon-list-parent .icon-list {
    padding-left: 17px;
}

.detail .box .gallery-item {
    border-radius: 5px;
    overflow: hidden;
    margin: 0 0 0px;
}

.detail .view .nav.nav-tabs {
    background: #fff;
}

.detail .view .nav.nav-tabs > li {
    padding: 0px;
    border-right: 1px solid #ddd;
}

.detail .view .nav-tabs .badge {
    position: absolute;
    padding: 4px 4px;
    background: rgb(229, 38, 38);
    width: 1.4rem;
    height: 1.4rem;
    top: 0.4rem;
    text-align: center;
    line-height: 15px;
    font-size: 0.8rem;
    border-radius: 50%;
    color: white;
}

.detail.place-detail .view .nav-tabs .badge.total-review {
    right: 1.6rem;
}

.detail.place-detail .view .nav-tabs .badge.total-photo {
	right: 0.9rem;
}

.detail.place-detail .post-photo-container .work-item {
	width: 50%;
}

.detail.user-profile .view .nav-tabs .badge.total-user-photo {
    left: 5.5rem;
}

.detail.user-profile .view .nav-tabs .badge.total-order-history {
    left: 9.7rem;
}

.detail.user-profile .view .nav-tabs .badge.total-new-promo {
    left: 7.9rem;
}

.detail.user-profile .dropdown-menu.profile-btn > li > a {
	padding: 10px 17px;
}
.detail .rating-md {
    font-size: 0;
}

.detail .rating-md > .rating-stars > .rating-input {
    display: none;
}

.detail .rating-container .filled-stars {
    -webkit-text-stroke: 0;
    text-shadow: none;
}

.detail .review-post .rating {
    margin-top: 7px;
}

.detail.menu-list .box {
    padding: 0;
}

.detail.menu-list .box .box-content {
    padding: 10px 15px;
}

.dropdown-menu .dropdown-item.active {
    background-color: #e52626;
    color: #fff;
}

.detail.menu-list .nav-menu .product-category-shortcut {
	max-height: 200px;
	overflow-y: auto;
}

/*general - overlay & blueimp*/
.overlay,
.loading-img,
.loading-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.overlay {
    z-index: 1010;
    background: rgba(255, 255, 255, 0.8);
}

.loading-img {
    z-index: 1020;
    background: transparent url('../../img/ajax-loader1.gif') 50% 50% no-repeat;
    height: 128px;
}

.loading-text {
    z-index: 1020;
    text-align: center;
    padding-top: 4px;
}

.loading-text:before {
    content: "Loading...";
}

.blueimp-gallery-carousel {
    box-shadow: none;
}

.blueimp-gallery > .next,
.blueimp-gallery > .prev {
    font-family: inherit;
    line-height: 32px !important;
    border: none;
    border-radius: 0px;
}

.blueimp-gallery > .next {
    right: 0px;
}

.blueimp-gallery > .prev {
    left: 0px;
}

.blueimp-gallery-controls > .play-pause,
.blueimp-gallery-controls > .indicator {
    display: none !important;
}

.blueimp-gallery-carousel {
    margin: 0;
}

/*general - comment section*/
.widget-comments-image {
    float: left;
    margin: 5px 0 0 0;
    width: 45px;
}

.widget-comments-body {
    margin-left: 56px;
}

/*kartik select2*/
.select2-selection__rendered {
    text-align: left;
}

.select2-container--krajee .select2-selection {
    border-radius: 2px;
}

.select2-container--krajee.select2-container--open .select2-selection, .select2-container--krajee .select2-selection:focus {
    box-shadow: none;
    border-color: #555;
}

.select2-container--krajee .select2-dropdown {
    box-shadow: none;
    border-color: #555;
}

.select2-container--krajee .select2-results > .select2-results__options {
    max-height: 210px;
}

.select2-container--krajee li.select2-results__option {
    padding: 2px 6px;
}

.select2-container--krajee li.select2-results__option:hover {
    background-color: #e52626;
    color: #fff;
}

.select2-container--krajee .select2-results__option--highlighted[aria-selected] {
    background-color: #e52626;
    color: #fff;
}

/*kartik file-input*/
.file-preview {
    border-radius: 2px;
}

.krajee-default.file-preview-frame .kv-file-content {
	width: 100px;
	height: 100px;
}

/*popover*/
.popover {
    font-family: "Museo Sans Cyrl 300";
}

.popover-body .rating-md > .rating-stars > .rating-input {
    display: none;
}

.popover-body.popover-content .rating-container .star {
    font-size: 14px;
}

.popover-body.popover-content .rating-container .filled-stars {
    -webkit-text-stroke: 0;
    text-shadow: none;
}

.popover-body.popover-content .rating-md {
    font-size: 0;
}

.popover-body.popover-content .rating-md > .rating-stars > .rating-input {
    display: none;
}

/*default box*/
.default-box {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid hsla(0,0%,100%,.3);
    background: hsla(0,0%,100%,.95);
    box-shadow: 0 0 10px #333;
}

.default-box .row {
    margin: 0px -5px;
}

.default-box .col {
    padding: 0px 5px;
}

.default-box .btn-block + .btn-block {
    margin-top: 0px;
}

/*general - modal*/
#modal-product-category > .modal-dialog > .modal-content > .modal-body {
    overflow-y: auto;
}

#modal-product-category > .modal-dialog > .modal-content > .modal-body .product-list {
    padding-top: 5px;
    padding-bottom: 5px;
}

.modal-header-search {
	height: 70px;
	padding: 10px;
	margin-top: 40px;
	margin-right: 10px;
}

.modal-title-search {
	font-weight: 300;
	font-size: 2em;
	color: #000;
	line-height: 30px;
}

.search-box-modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #fff;
    overflow-x: hidden;
    z-index: 1040;
}

.search-box-modal .nav-tabs {
	border-bottom: none;
	padding-top: 0px;
}

.search-box-modal .tab-pane {
	padding: 0;
}

.search-box-modal .close {
    margin: 0px 23px 0 0;
    opacity: 1;
}

.search-box-modal .input-group-addon {
	border: 0 !important;
	background-color: white;
	padding: 0;
}

.search-box-modal .facility-collapse label {
	font-weight: 500;
}

/*general - pagination*/
.pagination {
    margin: 0;
}

.pagination > .disabled > span {
    display: none;
}

.pagination > li > a {
    color: #000;
    border: 1px solid #ddd;
}

.pagination > .active > a,
.pagination > .active > a:hover {
    color: #fff;
    background-color: rgb(229, 38, 38);
    border-color: rgb(229, 38, 38);
}

/*register*/
.register .box {
    padding: 15px;
}

/*result map*/
.container-map-detail {
    overflow-y: auto;
    overflow-x: hidden;
    height: 460px;
}

.container-map-detail .box .blueimp-gallery > .next,
.container-map-detail .box .blueimp-gallery > .prev {
    width: 25px;
    height: 25px;
    margin-top: -12px;
    font-size: 30px;
    line-height: 23px !important;
}

/*readmore*/
.readmore-content span {
    display: none;
}

.readmore-trigger {
    display: block;
    width: 75px
}

/*infowindow map*/
.infowindow {
    width: 500px;
    max-height: 180px;
    overflow-x: hidden;
    overflow-y: auto;
}
